/* CSS for Bottlerockets Docs */

/* Sidebar background */
.book .book-summary {
  background: #FFFFFF;
}

/* Sidebar Links */
.book .book-summary ul.summary li a {
  font-size: 1.2em;
  color: #73f;
}

.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li.active>a {
  color: #73a;
}

/* Sidebar Title */
.book .book-summary ul.summary li a.custom-link,
.book .book-summary ul.summary li a.custom-link:hover {
  color: rgba(0, 0, 0, 0);
  text-indent: -99999px;
  display: block;
  background-image: url('https://cldup.com/6434u5RKNS.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
  height: 100px;
}

/* Title Links that pop up on hover */
.book .book-body .page-wrapper .page-inner section.normal a.anchorjs-link {
  color: #73f;
}

/* Main links */
.book .book-body .page-wrapper .page-inner section.normal a {
  color: #73f;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote,
.book .book-body .page-wrapper .page-inner section.normal dl,
.book .book-body .page-wrapper .page-inner section.normal ol,
.book .book-body .page-wrapper .page-inner section.normal p,
.book .book-body .page-wrapper .page-inner section.normal table,
.book .book-body .page-wrapper .page-inner section.normal ul {
  font-size: 1.8rem;
  color: #4A4A4A;
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal blockquote,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal dl,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal ol,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal p,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal table,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal ul {
  color: #bdcadb;
}

/* Block Quotes */
.book .book-body .page-wrapper .page-inner section.normal blockquote {
  border: 2px solid #E4E4E4;
  padding: 15px;
  border-radius: 10px;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote strong {
  color: #43CEA2;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote p {
  margin: 0;
}

/* Page Titles */
.book .book-body .page-wrapper .page-inner section.normal h1 {
  color: #75a;
}

.book .book-body .page-wrapper .page-inner section.normal h2 {
  font-size: 1.7em;
  color: #4A4A4A;
}

.book .book-body .page-wrapper .page-inner section.normal h3 {
  font-size: 1.4em;
  color: #969C9A;
}